body {
	background-image: url("F:/CoderHouse FZ/Portfolio/imagenes/img1.jpg");
}

i.material-icons{
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15px;
}

.jumbotron{
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   height: 100%;
}

nav {
    color: #fff;
    background-color: transparent;
    width: 100%;
    border-bottom: 1px solid #fff;
    z-index: 999;
    position: fixed;
}

.new_releases{
	color: #fff;
	text-transform: none;
	text-decoration: none;
}



